@{
    ViewData["Title"] = "Calculator";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <h4>Get a quote for your own Bananagrams session.</h4>
    <br>
    
    <!-- display the hourly rate. do not allow user to edit input.-->
    <div class="display-6">
        <label for="rate">Hourly Rate: $</label>
        <input type="number" id="rate" value="20" readonly style="width: 70px;">
    </div>
    <br>

    <!-- form for user input (number of hours)-->
    <form action="">
        <label for="hours">How many hours would you like your Bananagrams session to last?</label>
        <p class="footnote">Note: Please enter number as a whole number decimal, for example, 3 or 1.5. <br>
            Requests for more than 5 hours may not be made.</p>
        <input id="hours" type="number" min="0" max="5" style="width: 100px"><br><br>
        <input type="button" value="Estimate Cost" id="btn">
    </form>
    <br><br><br>

    <!-- div for final estimate-->
    <div class="display-6" id="estimate" hidden>
        <label for="totalCost">Estimated Cost:</label>
        <div id="totalCost"></div>
    </div>
    <br><br>

    <!-- return back to home page-->
    <p>Click <a asp-controller="Home" asp-action="Index">here</a> to return to the home page.</p>
</div>
