@{
    ViewData["Title"] = "Bananagrams";
}

<div class="text-center">
    <!-- header for this page -->
    <h1 class="display-4">Bananagrams</h1>
    <h4>The Ultimate Word Game</h4>
    <br>

    <div class="content-container">
        <!-- first photo-->
        <img src="~/img/bananagrams.png" width="750px" alt="Banagrams bag with words" id="bananabag"/>

        <!-- Intro paragraphs -->
        <p>I'm so glad you stopped by this page dedicated to one of my favorite games. If you’ve never played Bananagrams, you are missing out. Why is it my favorite? Partly because it’s fast and fun, but mostly because it turns into absolute chaos in the best way.</p>
        <p>Basically, everyone gets a pile of letter tiles and races to make their own little word grid. No turns, no waiting—just pure speed. As soon as you use all your letters, you yell "PEEL!", and everyone has to grab another tile whether they want to or not. And if you’re stuck with a useless letter (looking at you, Z), you can "DUMP" it—though it means picking up three more.</p>
        <p>What I love most about it is how it forces you to think fast and get creative. Sometimes you start strong, then suddenly realize you spelled half your words wrong and have to tear everything apart. Other times, you think you’re losing, only to throw down a last-minute comeback. Either way, it’s chaotic, competitive, and way more fun than a game this simple has any right to be.</p>
        <p>And the best part? It all fits in a little banana-shaped pouch, which makes it super easy to bring anywhere. We’ve played it on road trips, late at night when we should’ve gone to bed, and even with people who "don’t like word games" (they always get hooked). If you haven’t played yet, we need to change that.</p>

        <!-- Link to calculator-->
        <p>Click <a asp-controller="Home" asp-action="Calculator">here</a> for more information about my Bananagrams tutoring services (which basically means you get to pay me to beat you).</p>

        <!-- second photo-->
        <img src="~/img/open_bag.png" width="750px" alt="Open bananagrams bag" id="open_bag"/>
    </div>

</div>